/*In edit student detail we will make this hidden class in a div*/
/* .hidden {
  display: none;
} */
table {
  width: 100%;
  border-collapse: separate;
}
table,th,td{
    border: 1px solid black;
}
body{
    background-color: burlywood;
}
.sub-btn{
padding: 6px 10px;
border-radius: 15px;
font-size: 15px;
border: none;

}